<div class="container">
    <div class="row" style="padding: 20px 10px; background-color: #333;">
        <div class="col-md-offset-3 col-md-6 text-center">
            <div class="input-group">
                <input ng-model="apiUrl"
                       placeholder="http://someresource.com/get-users/"
                        type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                <span class="input-group-btn">
                    <button class="btn pink-btn ng-binding" ng-click="synchronizeUsersDatas()">Synchronize with (write api's url of app):</button>
                </span>
            </div>
            <p style="color:#fff; text-align: left;">
                Metadietas' api: http://metaserver01/metadietas/es/users/metafichada-users/
            </p>
        </div>
    </div>
</div>